@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.NewTask {
    display: none;
}

body {
    background-color: #5F00BD;
    background-image: url("src/linear-background.jpg");
    background-size: cover;
    color: white;

    font-family: "Dancing Script", cursive;
    text-shadow: 1px 1px 1px #351f68;
}

p {
    font-size: xx-large;
}

.add_task_button {
    background-color: rgb(164, 228, 196);
    border: 10px double white;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    
    margin-left: auto;
    user-select: none;
}

.variables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 4, 100);
    background-image: url("src/background.jpg");

    border: 10px double rgb(135, 63, 177);
    border-radius: 10px;
    height: 40px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(62, 4, 100);
    background-image: url("src/background.jpg");

    border: 10px double rgb(135, 63, 177);
    border-radius: 10px;
    height: 500px;
}

.template {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}